<!DOCTYPE html>
<html>
    <head>
        <title>Maipo Grande FeriaVirtual API v1</title>
        <link rel="shortcut icon" type="image/svg" href="img/logo_maipo_grande.svg"/>

        <style>
            *{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin:0%;
                padding:0%;
            }
            .center {
                margin: auto;
                width: 50%;
                border: 3px solid green;
                padding: 10px;
            }
            .center-l {
                margin-top: 0%;
                margin-left: 0%;
                width: 80%;
                padding: 1em;
            }
            .w-100{
                width: 100%;
            }
            .contenedor{
                margin:auto;
                padding:1em;
                width: 80%;
                background-color:rgba(255, 255, 255, 0.7);
            }
            .mi-tabla{
                table-layout: fixed;
            }
            .pad-10{
                padding: 10%;
            }
            .pad-2{
                padding: 2%;
            }
            .margin-2{
                margin: 2%;
            }
            .codigo{
                background-color: lightgray;
                padding-left: 10px;
                min-width: 200px;
                overflow-x: auto;
            }
            .white{
                background-color: white;
            }
            .textoparrafo-s {
                line-height: 1.8;
                word-wrap: break-word;
            }
            td{
                margin: 10px;
            }
            .imagen-titulo{
                max-width:100%;
                max-height:100%;
            }
        </style>
    </head>
    <body style="background: url('img/fondo-campo.png') repeat;">
        <div class="contenedor white">
            <table class="mi-tabla">
                <thead>
                    <th class="center" colspan="2">
                        <h1>FeriaVirtualAPI - Versión 1.0</h1>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <img class="imagen-titulo" src="img/logo_maipo_grande.svg"/>
                            </div>
                        </td>
                        <td class="textoparrafo-s">
                            <div style="padding:1em;">
                                <p class="imagen-titulo">
                                    La WebAPI de FeriaVirtual es el portal común para el acceso 
                                    entre todas las aplicaciones cliente del sistema. Permite
                                    el intercambio cómodo de datos por medio de objetos JSON,
                                    los cuales se pueden convertir fácilmente a instancias de 
                                    clase, y además es muy compatible con infinidad de lenguajes 
                                    y plataformas. Gracias a esto, JSON es el estándar de hoy 
                                    para este tipo de trabajo. 
    
                                    En esta API se permiten solamente los siguiente métodos http:
                                </p>
                                <dl>
                                    <dt><b>GET: </b></dt>
                                    <dd>
                                        Método usado para recuperar datos.
                                        Usualmente involucra un parámetro en la URL, como:
                                        http://localhost:3000/api/v1/usuario/1 
                                        Siendo '1' el parámetro.
                                    </dd>
                                    <dt><b>POST: </b></dt>
                                    <dd>
                                        Método usado para enviar nuevos datos.
                                        Estos no son vistos en la URL, sino que en el cuerpo
                                        de la petición http. Esta API solo acepta peticiones
                                        post en formato JSON. Cualquier cosa será respondida
                                        con un código de error 400 (Bad Request)
                                    </dd>
                                    <dt><b>PUT: </b></dt>
                                    <dd>
                                        Método usado para modificar datos existentes.
                                        Usualmente involucra un parámetro en la URL, como en GET,
                                        Pero también requiere contenido en el cuerpo de la petición
                                        en formato JSON.
                                    </dd>
                                    <dt><b>DELETE:</b></dt>
                                    <dd>
                                        Método usado para eliminar datos.
                                        Pide lo mismo que en PUT.
                                    </dd>
                                </dl>
                            </div>                            
                        </td>
                    </tr>
                    <tr>
                        <th class="center" colspan="2">
                            <h1>Banco de pruebas!</h1>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="textoparrafo-s">
                            <p>
                                En este apartado puedes enviar JSON o datos a la API, y recibirás una respuesta 
                                acorde a tu petición.
                                Si en la opción, hay un <i>"/:parametro"</i> incluido, quiere decir que lo que tienes que
                                ingresar no es necesariamente un JSON, sino que un dato común, como un número o 
                                palabra.
                            </p>
                            <dl>
                                <dt><b>Ejemplo:</b></dt>
                                <dd>
                                    http://localhost:3000/api/v1/usuario/<b>:usuarioid</b>
                                </dd>
                                <dt>Es igual a...</dt>
                                <dd>
                                    http://localhost:3000/api/v1/usuario/<b>1</b> 
                                </dd>
                            </dl>
                            <p>
                                Si te equivocas, o si ocurre otro error, el recuadro de respuesta te lo hará saber! 
                                También puede consultar en la consola de desarrollador de tu navegador!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Escoge el método que quieres ejecutar</label>
                            <select id="cmbMetodoApi" onchange="cmbMetodoApiValueChanged(this);">
                                <option data-httpmode="GET" value="nada">Selecciona un método...</option>
                                <option data-httpmode="GET" value="usuarios">Obtener (GET) todos los usuarios (/usuarios)</option>
                                <option data-httpmode="POST" value="usuarios/nuevo">Crear un nuevo usuario (/usuarios/nuevo)</option>
                                <option data-httpmode="GET" data-paramquery=":idusuario" value="usuario/:idusuario">Obtener (GET) un usuario (/usuario/:idusuario)</option>
                                <option data-httpmode="GET" value="productos">Obtener (GET) todos los productos (/productos)</option>
                                <option data-httpmode="POST" value="auth/login">Enviar (POST) credenciales de acceso (/auth/login)</option>
                            </select>
                        <td>
                            <a id="lblEnlacePeticion" href="#">El enlace final aparecerá aquí!</a>
                        </td>
                    <tr>
                        <td>
                            <label>En este recuadro escribe el objeto JSON que quieres enviar</label>
                            <button onclick="enviarSolicitud();">Enviar!</button>
                            <button onclick="formatearJSON();">Formatear JSON</button>
                        </td>
                        <td>
                            <label>Tu resultado aparecerá aquí!</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="taPeticion" rows="15" style="width: 100%;min-height: 200px;height: max-content;resize: none;"></textarea>
                        </td>
                        <td>
                            <textarea id="taRespuesta" rows="15"  style="width: 100%;min-height: 200px; height: max-content;resize: none;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="center" colspan="2">
                            <h1>Objetos permitidos en API</h1>
                        </th>
                    </tr>
                    <tr>
                        <td class="center textoparrafo-s">
                            <h2>Objeto Autenticador</h2>
                            <p style="max-width: inherit;">
                                Objeto con solo dos campos, las de toda la vida: 
                                email y contraseña. Con esto se evita el envío 
                                de un objeto Usuario, ahorrando unos cuantos 
                                bytes.
                            </p>
                        </td>
                        <td class="codigo">
<pre>
<code>
{
    "email": string,
    "contrasena": string
}
</code>
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td class="center textoparrafo-s">
                            <h2>Objeto Usuario</h2>
                            <p>
                                Es un objeto genérico utilizado por todos los 
                                tipos de usuarios registrados en el sistema. 
                                Cuando se requiera recuperar la información 
                                del usuario, todos los campos a excepción de 
                                la contraseña serán devueltos, por motivos de 
                                seguridad.

                                Este mismo objeto se puede utilizar para crear 
                                a un nuevo usuario, cambiando algunos campos
                                y obviando otros.
                            </p>
                        </td>
                        <td class="codigo">
<pre>
<code>
{
    "id_usuario": 0,
    "personal_id": "111111111",
    "nombre": "Usuario",
    "nombre_segundo": "Nombre segundo",
    "apellido_paterno": "Apellido paterno",
    "apellido_materno": "Apellido materno",
    "fecha_nacimiento": "01-01-2000",
    "telefono": 123456789,
    "direccion": "Direccion",
    "email": "email@domain.cc",
    "contrasena": "Contraseña",
    "salt_contrasena": "Salt Contraseña",
    "nacionalidad": {
        "id_nacionalidad": 0,
        "iso": "cl",
        "nombre": "Chile",
        "codigo_telefonico": 56
    },
    "rol": {
        "id_rol": 0,
        "description": "rol"
    },
    "estado_usuario": {
        "id_estado_usuario": 0,
        "descripcion": "estado_usuario"
    },
    "estado_contrato": {
        "id_estado_contrato": 0,
        "descripcion": "estado_contrato"
    }
}
</code>
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td class="center textoparrafo-s">
                            <h2>Objeto Producto</h2>
                            <p>
                                Objeto pequeño que es utilizado para obtener y
                                enviar información sobre productos.

                            </p>
                        </td>
                        <td class="codigo">
<pre>
<code>
{
    "id_producto": 0,
    "nombre": "ninguno",
    "volumen": 0,
    "tipo_producto": {
        "id_tipo_producto": 0,
        "descripcion": "tipo_producto"
    },
    "costo_mantencion": 0
}
</code>
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td class="center textoparrafo-s">
                            <h2>Objeto Venta</h2>
                            <p>
                                Objeto con el cual se puede consultar información, 
                                así como también enviar para modificar y crear un proceso 
                                de venta. Para la sección de usuario, es necesario solamente el 
                                ID, ya que la validación la realiza la base de datos. Para los 
                                productos, igualmente es necesario solamente el ID, junto con la 
                                cantidad de producto a solicitar.
                            </p>
                        </td>
                        <td class="codigo">
<pre>
<code>
{
    "id_venta": 0,
    "fecha_inicio_venta": "01-01-2000",
    "fecha_fin_venta": "01-01-2000",
    "comentarios_venta": "Comentarios.",
    "monto_total": 0,
    "comision": 0,
    "usuario_autor": {
        "id_usuario": 0
    },
    "productos_venta": [
        {
            "producto": {
                "id_producto": 0
            },
            "cantidad": 0
        },
        {
            "producto": {
                "id_producto": 0
            },
            "cantidad": 0
        }
    ]
}
</code>
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td class="center textoparrafo-s">
                            <h2>Objeto Subasta</h2>
                            <p>
                                Un ejemplo claro del subproceso llamado subasta, en el 
                                cual se seleccionan a los mejores productores y transportistas 
                                con el fin de gestionar qué productos enviar al cliente, y 
                                quién será el responsable de transportarlos. Dependiendo 
                                del tipo de subasta, habrán distintas clases de ofertas, ya se 
                                de productores o de transportistas.
                            </p>
                        </td>
                        <td class="codigo">
<pre>
<code>
{
    "id_subasta": 0,
    "fecha_inicio_subasta": "01-01-2000",
    "fecha_fin_subasta": "01-01-2000",
    "tipo_subasta": {
        "id_tipo_subasta": 0,
        "descripcion": "tipo_subasta"
    },
    "estado_subasta": {
        "id_estado_venta": 0,
        "descripcion": "estado_venta"
    },
    "venta": {
        "id_venta": 0
    },
    "ofertas_productores": [],
    "ofertas_transportista": []
}
</code>
</pre>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <h3>Feriantes4dawin - Reservados todos los derechos (2021)</h3>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
    <script>

        function cmbMetodoApiValueChanged(s){
            var lbl = document.getElementById('lblEnlacePeticion');
            if(s.options[s.selectedIndex].value !== 'nada'){
                lbl.innerHTML = `http://localhost:3000/api/v1/${s.options[s.selectedIndex].value}`;
            } else {
                lbl.innerHTML = "Selecciona un valor de la lista";
            }

        }

        function enviarSolicitud(){
            
            var cmbMetodoApi = document.getElementById('cmbMetodoApi');
            var taPeticion = document.getElementById('taPeticion');
            var taRespuesta = document.getElementById('taRespuesta');
            var peticion;
            const direccionBase = 'api/v1/';
            var metodoapi = cmbMetodoApi.value;
            var modohttp = cmbMetodoApi.options[cmbMetodoApi.selectedIndex].dataset.httpmode;
            var paramquery = cmbMetodoApi.options[cmbMetodoApi.selectedIndex].dataset.paramquery;
            if(metodoapi === 'nada'){
                
                alert('Selecciona una opción de la lista!');

            } else {

                if(paramquery){
                    
                    console.log(paramquery);
                    console.log(taPeticion.value);
                    metodoapi = metodoapi.replace(paramquery,taPeticion.value);

                }

                console.log(`Metodo peticion = ${modohttp}; Metodo API = ${metodoapi}`);
                
                peticion = new XMLHttpRequest();
                peticion.open(modohttp,direccionBase+metodoapi,true);
                peticion.setRequestHeader('Content-Type','application/json');
                peticion.onreadystatechange=
                function() {
                    if (this.readyState == 4) {
                         // Typical action to be performed when the document is ready:
                        var textoFinal = JSON.stringify(JSON.parse(peticion.responseText), null, 4);
                        taRespuesta.value = textoFinal;
                    }
                };

                peticion.send(taPeticion.value);

            }
        }

        function formatearJSON(){

            var taPeticion = document.getElementById('taPeticion');
            taPeticion.value = JSON.stringify(JSON.parse(taPeticion.value), null, 4);

        }
    </script>
</html>